@import "@material/icon-button/mdc-icon-button";

.bbmd-mdc-icon-button--size-large {
  @include mdc-icon-button-icon-size(24px);
}

.bbmd-mdc-icon-button--size-medium {
  @include mdc-icon-button-icon-size(20px);
}

.bbmd-mdc-icon-button--size-small {
  @include mdc-icon-button-icon-size(16px);
}
