**/node_modules/
# We cannot ignore this as it's breaking the multistage dockerfile
**/dist/
# !/packages/worker/dist/

.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

Dockerfile

.dockerignore

.github/
.husky/
.vscode/
charts/
docs/
examples/
hosting/
i18n/
qa-core/
specs/