*

!packages/server/package.json
!packages/server/tsconfig.json
!packages/server/tsconfig.build.json
!packages/server/src/
!packages/server/scripts/build.js
!packages/server/docker_run.sh
!packages/server/builder/
!packages/server/client/

!packages/worker/package.json
!packages/worker/tsconfig.json
!packages/worker/tsconfig.build.json
!packages/worker/src/
!packages/worker/docker_run.sh

!packages/pro/package.json
!packages/pro/tsconfig.json
!packages/pro/tsconfig.build.json
!packages/pro/src/

!packages/types/src
!packages/types/package.json
!packages/types/tsconfig.json
!packages/types/tsconfig.build.json

!packages/shared-core/src
!packages/shared-core/package.json
!packages/shared-core/tsconfig.json
!packages/shared-core/tsconfig.build.json

!packages/backend-core/src
!packages/backend-core/package.json
!packages/backend-core/tsconfig.json
!packages/backend-core/tsconfig.build.json
!packages/backend-core/scripts/build.js
!packages/backend-core/jest.config.ts

!packages/frontend-core/src
!packages/frontend-core/package.json
!packages/frontend-core/assets

!packages/bbui/src
!packages/bbui/package.json
!packages/bbui/vite.config.js

!packages/builder/src
!packages/builder/package.json
!packages/builder/tsconfig.json
!packages/builder/tsconfig.build.json
!packages/builder/public
!packages/builder/assets
!packages/builder/.routify
!packages/builder/nuxt.config.js
!packages/builder/routify.config.js
!packages/builder/vite.config.mjs
!packages/builder/index.html
!packages/builder/babel.config.js
!packages/builder/svelte.config.js

!packages/sdk/src
!packages/sdk/package.json
!packages/sdk/rollup.config.js

!packages/client/src
!packages/client/package.json
!packages/client/tsconfig.json
!packages/client/manifest.json
!packages/client/vite.config.mjs

!packages/string-templates/src
!packages/string-templates/package.json
!packages/string-templates/tsconfig.json
!packages/string-templates/rollup.config.js

!scripts/
!nx.json

!hosting/single/
!hosting/letsencrypt/

!package.json
!yarn.lock
!lerna.json
!.yarnrc