[submodule "packages/pro"]
	path = packages/pro
	url = git@github.com:Budibase/budibase-pro.git
[submodule "apps/account-portal"]
	path = apps/account-portal
	url = git@github.com:Budibase/account-portal.git
