apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: budibase-proxy
  name: proxy-service
spec:
  ports:
  - name: {{ .Values.services.proxy.port | quote }}
    port: {{ .Values.services.proxy.port }}
    targetPort: {{ .Values.services.proxy.port }}
  selector:
    app.kubernetes.io/name: budibase-proxy
status:
  loadBalancer: {}
