apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: worker-service
  name: worker-service
spec:
  ports:
  - name: {{ .Values.services.worker.port | quote }}
    port: {{ .Values.services.worker.port }}
    targetPort: {{ .Values.services.worker.port }}
  selector:
    io.kompose.service: worker-service
status:
  loadBalancer: {}
