version: "3"

# optional ports are specified throughout for more advanced use cases.

services:
  couchdb-service:
    # platform: linux/amd64
    restart: on-failure
    image: budibase/database:latest
    environment:
      - COUCHDB_PASSWORD=budibase
      - COUCHDB_USER=budibase
      - TARGETBUILD=docker-compose
      - DATA_DIR=/data
    ports:
      - 5984
      - 4984
      - 4369
      - 9100
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5984/_up"]
      interval: 30s
      timeout: 20s
      retries: 3
