apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: worker-service
  name: worker-service
spec:
  ports:
  - name: {{ .Values.services.worker.port | quote }}
    port: {{ .Values.services.worker.port }}
    targetPort: {{ .Values.services.worker.port }}
  selector:
    io.kompose.service: worker-service
status:
  loadBalancer: {}
