@import "@material/ripple/mdc-ripple.scss";
@import "@material/theme/mixins";

.bbmd-day {
  transition: background-color .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.selected {
  @include mdc-theme-prop(background-color, primary);
  @include mdc-theme-prop(color, on-primary);
}
