/* Budibase Component Styles */


.budibase__title {
    font-weight: 900;
    font-size: 42px;
}

.budibase__title--2 {
    font-weight: 700;
    font-size: 32px;
}

.budibase__title--3 {
    font-weight: 700;
    font-size: 24px;
}

.budibase__title--4 {
    font-weight: 700;
    font-size: 18px;
}

.budibase__label--big {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
    text-transform: uppercase;
}

.budibase__label--medium {
    font-weight: 500;
    font-size: 13px;
    opacity: 0.6;
    text-transform: uppercase;
}

.budibase__label--small {
    font-weight: 500;
    font-size: 10px;
    opacity: 0.6;
    text-transform: uppercase;
}

.budibase__sub-heading {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.6;
}

.budibase__nav-item {
    cursor: pointer;
    padding: 0 4px 0 2px;
    height: 36px;
    margin: 0px 0px 0px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: 0.2s;
    border-top: var(--grey-1) .5px solid;
}

.budibase__nav-item.selected {
    color: var(--ink);
    background: var(--grey-2);
}

.budibase__nav-item:hover {
    background: var(--grey-1);
}

.budibase__input {
    height: 36px;
    background-color: var(--grey-2);
    border: none;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    color: var(--ink);
    font-size: 14px;
    padding-left: 8px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.uk-text-right {
    display: flex;
    justify-content: flex-start;
}

.preview-pane {
    grid-column: 2;
    margin: 80px 60px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.05);
}

.budibase__table {
    border: 1px solid var(--grey-4);
    background: #fff;
    border-radius: 2px;
}

.budibase__table thead {
    background: var(--blue-light);
}

.budibase__table thead > tr > th {
    color: var(--ink);
    text-transform: capitalize;
    font-weight: 500;
}

.budibase__table tr {
    border-bottom: 1px solid var(--grey-1);
}

.button--toggled {
    background: var(--blue-light);
    color: var(--grey-7);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


.shepherd-header h3 {
    color: var(--ink);
    font-size: 18px;
}

.shepherd-content {
    background-color: var(--white);
    border: 1px solid var(--grey-4);
    padding: 20px;
    width: 350px;
    border-radius: 5px;
}

.shepherd-text {
    color: var(--grey-5);
    font-weight: 200;
    margin-bottom: 20px;
}

.shepherd-footer {
    text-align: right;
}

.shepherd-button {
    background-color: var(--purple);
    color: var(--white);
    margin-left: 12px;
    padding: 10px;
    border: 1px solid var(--purple);
    border-radius: 5px;
    width: 100%;
    max-width: 80px;
}

.shepherd-button:nth-child(1) {
    background-color: var(--white);
    color: var(--purple);
    border: 1px solid var(--purple);
}

.shepherd-button:hover {
    cursor: pointer;
    background-color: var(--purple-light);
    color: var(--purple);
}
