/* Budibase Component Styles */
.header {
    font-size: 0.75rem;
    color: #000333;
    opacity: 0.4;
    text-transform: uppercase;
    margin-top: 1rem;
    font-weight: 500;
}

.budibase__title {
    font-weight: 900;
    font-size: 42px;
}

.budibase__title--2 {
    font-weight: 700;
    font-size: 32px;
}

.budibase__title--3 {
    font-weight: 700;
    font-size: 24px;
}

.budibase__title--4 {
    font-weight: 700;
    font-size: 18px;
}

.budibase__label--big {
    font-weight: 400;
    font-size: 14px;
    opacity: 0.6;
    text-transform: uppercase;
}

.budibase__label--medium {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    text-transform: uppercase;
}

.budibase__label--small {
    font-weight: 500;
    font-size: 10px;
    opacity: 0.6;
    text-transform: uppercase;
}

.budibase__sub-heading {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.6;
}

.budibase__nav-item {
    cursor: pointer;
    padding: 0 7px 0 3px;
    height: 35px;
    margin: 5px 20px 5px 0px;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.8em;
}

.budibase__nav-item.selected {
    color: var(--button-text);
    background: #fafafa !important;
}

.budibase__nav-item:hover {
    background: #fafafa;
}

.budibase__input {
    width: 250px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    text-align: left;
    letter-spacing: 0.7px;
    color: #000333;
    font-size: 16px;
    padding-left: 5px;
}

.uk-text-right {
    display: flex;
    justify-content: flex-start;
}

.preview-pane {
    grid-column: 2;
    margin: 80px 60px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.05);
}

.budibase__table {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 2px;
}

.budibase__table thead {
    background: #fafafa;
}

.budibase__table thead > tr > th {
    color: var(--button-text);
    text-transform: capitalize;
    font-weight: 500;
}

.budibase__table tr {
    border-bottom: 1px solid #ccc;
}

.button--toggled {
    background: #fafafa;
    color: var(--button-text);
    padding: 10px;
}