version: "3.8"
services:
  pgvector:
    container_name: pgvector
    image: pgvector/pgvector:pg16
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: main
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data/

  pgadmin:
    container_name: pgvector-pgadmin
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: root@root.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"

volumes:
  pg_data: