name: Budibase CI

on: 
 # Trigger the workflow on push or pull request,
 # but only for the master branch
 push:
    branches:
      - master
      - develop 
 pull_request:
    branches:
      - master
      - develop
 workflow_dispatch:

env:
  BRANCH: ${{ github.event.pull_request.head.ref }}
  BASE_BRANCH: ${{ github.event.pull_request.base.ref}}
  PERSONAL_ACCESS_TOKEN : ${{ secrets.PERSONAL_ACCESS_TOKEN }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - run: yarn
    - run: yarn lint

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install Pro
        run: yarn install:pro $BRANCH $BASE_BRANCH
      - run: yarn
      - run: yarn bootstrap
      - run: yarn build

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install Pro
        run: yarn install:pro $BRANCH $BASE_BRANCH
      - run: yarn
      - run: yarn bootstrap
      - run: yarn build:client
      - run: yarn test
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          name: codecov-umbrella
          verbose: true

  test-pro:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install Pro
        run: yarn install:pro $BRANCH $BASE_BRANCH
      - run: yarn
      - run: yarn bootstrap
      - run: yarn test:pro

  integration-test:
    runs-on: ubuntu-latest
    services:
      couchdb:
        image: ibmcom/couchdb3
        env:
          COUCHDB_PASSWORD: budibase
          COUCHDB_USER: budibase
        ports:
          - 4567:5984
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install Pro
        run: yarn install:pro $BRANCH $BASE_BRANCH
      - run: yarn
      - run: yarn bootstrap
      - run: yarn build
      - run: |
          cd qa-core
          yarn
          yarn api:test:ci
