name: Budibase Prerelease
concurrency:
  group: release-prerelease
  cancel-in-progress: false

on:
  push:
    tags:
      - v*-alpha.*
  workflow_dispatch:

env:
  # Posthog token used by ui at build time
  # disable unless needed for testing
  # POSTHOG_TOKEN: phc_uDYOfnFt6wAbBAXkC6STjcrTpAFiWIhqgFcsC1UVO5F
  INTERCOM_TOKEN: ${{ secrets.INTERCOM_TOKEN }}
  PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  FEATURE_PREVIEW_URL: https://budirelease.live

jobs:
  release-images:
    runs-on: ubuntu-latest

    steps:
      - name: Fail if not a tag
        run: |
          if [[ $GITHUB_REF != refs/tags/* ]]; then 
            echo "Workflow Dispatch can only be run on tags" 
            exit 1 
          fi

      - uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          fetch-depth: 0

      - name: Fail if tag is not develop
        run: |
          if ! git merge-base --is-ancestor ${{ github.sha }} origin/develop; then
            echo "Tag is not in develop"
            exit 1
          fi

      - uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - run: yarn install --frozen-lockfile
      - name: Update versions
        run: |
          version=$(cat lerna.json \
            | grep version \
            | head -1 \
            | awk -F: '{gsub(/"/,"",$2);gsub(/[[:space:]]*/,"",$2); print $2}' \
            | sed 's/[",]//g')
          echo "Setting version $version"
          yarn lerna exec "yarn version --no-git-tag-version --new-version=$version"
          echo "Updating dependencies"
          node scripts/syncLocalDependencies.js $version
          echo "Syncing yarn workspace"
          yarn
      - run: yarn build
      - run: yarn build:sdk

      - name: Publish budibase packages to NPM
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          # setup the username and email.
          git config --global user.name "Budibase Staging Release Bot"
          git config --global user.email "<>"
          git submodule foreach git commit -a -m 'Release process'
          git commit -a -m 'Release process'
          echo //registry.npmjs.org/:_authToken=${NPM_TOKEN} >> .npmrc 
          yarn release:develop

      - name: Build/release Docker images
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
          yarn build:docker:develop
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_API_KEY }}

  release-helm-chart:
    needs: [release-images]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Helm
        uses: azure/setup-helm@v1
        id: helm-install

      # due to helm repo index issue: https://github.com/helm/helm/issues/7363
      # we need to create new package in a different dir, merge the index and move the package back
      - name: Build and release helm chart
        run: |
          git config user.name "Budibase Helm Bot"
          git config user.email "<>"
          git reset --hard
          git fetch
          mkdir sync
          echo "Packaging chart to sync dir"
          helm package charts/budibase --version 0.0.0-develop --app-version develop --destination sync
          echo "Packaging successful"
          git checkout gh-pages
          echo "Indexing helm repo"         
          helm repo index --merge docs/index.yaml sync
          mv -f sync/* docs
          rm -rf sync
          echo "Pushing new helm release"
          git add -A
          git commit -m "Helm Release: develop"
          git push

  trigger-deploy-to-qa-env:
    needs: [release-helm-chart]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Get the current budibase release version
        id: version
        run: |
          release_version=$(cat lerna.json | jq -r '.version')
          echo "RELEASE_VERSION=$release_version" >> $GITHUB_ENV

      - uses: passeidireto/trigger-external-workflow-action@main
        env:
          PAYLOAD_VERSION: ${{ env.RELEASE_VERSION }}
        with:
          repository: budibase/budibase-deploys
          event: budicloud-qa-deploy
          github_pat: ${{ secrets.GH_ACCESS_TOKEN }}
