name: Close stale issues and PRs # https://github.com/actions/stale
on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *" # Every 30 mins

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v8
        with:
          operations-per-run: 1
          # stale rules for PRs
          days-before-pr-stale: 7
          stale-issue-label: stale
          exempt-pr-labels: pinned,security,roadmap

          days-before-pr-close: 7

      - uses: actions/stale@v8
        with:
          operations-per-run: 3
          # stale rules for high priority bugs
          days-before-stale: 30
          only-issue-labels: bug,High priority
          stale-issue-label: warn

      - uses: actions/stale@v8
        with:
          operations-per-run: 3
          # stale rules for medium priority bugs
          days-before-stale: 90
          only-issue-labels: bug,Medium priority
          stale-issue-label: warn

      - uses: actions/stale@v8
        with:
          operations-per-run: 3
          # stale rules for all bugs
          days-before-stale: 180
          stale-issue-label: stale
          only-issue-labels: bug
          stale-issue-message: "This issue has been automatically marked as stale because it has not had any activity for six months."

          days-before-close: 30
